package ;


public class {{name}} extends LinearFlow {
    public {{name}}() {
{{#operations}}        {{type}} {{name}} = new {{type}}();
{{/operations}}

        addToFlow({{#operations}}{{name}}, {{/operations}});
    }
}

