package ;


public class {{name}} {
{{#operations}}    private final {{type}} {{name}};
{{/operations}}

    public {{name}}() {
{{#operations}}        {{name}} = new {{type}}();
{{/operations}}

        createConnections();
        initConfig();
    }

    private void createConnections() {
{{#connections}}{{#fromOp}}{{#toOp}}        {{fromOp.name}}.set{{fromPort.capName}}Port({{#fromPort.hasIndex}}{{fromPort.index}}, {{/fromPort.hasIndex}}{{toOp.name}}.get{{toPort.capName}}Port({{#toPort.hasIndex}}{{toPort.index}}{{/toPort.hasIndex}}));
{{/toOp}}{{/fromOp}}{{/connections}}
    }

    private void initConfig() {
    }

{{#connections}}{{^fromOp}}
    public Port<> get{{fromPort.capName}}Port({{#fromPort.hasIndex}}int i{{/fromPort.hasIndex}}) {
        return {{toOp.name}}.get{{toPort.capName}}Port({{#toPort.hasIndex}}{{#fromPort.hasIndex}}i{{/fromPort.hasIndex}}{{^fromPort.hasIndex}}{{toPort.index}}{{/fromPort.hasIndex}}{{/toPort.hasIndex}});
    }

{{/fromOp}}{{/connections}}
{{#connections}}{{^toOp}}
    public void set{{toPort.capName}}Port({{#toPort.hasIndex}}int i, {{/toPort.hasIndex}}Port<> port) {
        {{fromOp.name}}.set{{fromPort.capName}}Port({{#fromPort.hasIndex}}{{#toPort.hasIndex}}i{{/toPort.hasIndex}}{{^toPort.hasIndex}}{{fromPort.index}}{{/toPort.hasIndex}}, {{/fromPort.hasIndex}}port);
    }
{{/toOp}}{{/connections}}
}

