package ;


public class {{name}} {
{{#operations}}    private final {{type}} {{name}};
{{/operations}}

    public {{name}}() {
{{#operations}}        {{name}} = new {{type}}();
{{/operations}}

        createConnections();
        initConfig();
    }

    private void createConnections() {
{{#connections}}{{#fromOp}}{{#toOp}}        {{fromOp}}.set{{capFromPort}}Port({{#hasFromPortIndex}}{{fromPortIndex}}, {{/hasFromPortIndex}}{{toOp}}.get{{capToPort}}Port({{#hasToPortIndex}}{{toPortIndex}}{{/hasToPortIndex}}));
{{/toOp}}{{/fromOp}}{{/connections}}
    }

    private void initConfig() {
    }

{{#connections}}{{^fromOp}}
    public Port<> get{{capFromPort}}Port({{#fromPort.hasIndex}}int i{{/fromPort.hasIndex}}) {
        return {{toOp.name}}.get{{capToPort}}Port({{#toPort.hasIndex}}{{#fromPort.hasIndex}}i{{/fromPort.hasIndex}}{{^fromPort.hasIndex}}{{toPort.index}}{{/fromPort.hasIndex}}{{/toPort.hasIndex}});
    }

{{/fromOp}}{{/connections}}
{{#connections}}{{^toOp}}
    public void set{{capToPort}}Port({{#hasToPortIndex}}int i, {{/hasToPortIndex}}Port<> port) {
    {{fromOp}}.set{{capFromPort}}Port({{#hasFromPortIndex}}{{#hasToPortIndex}}i{{/hasToPortIndex}}{{^hasToPortIndex}}{{fromPortIndex}}{{/hasToPortIndex}}, {{/hasFromPortIndex}}port);
    }
{{/toOp}}{{/connections}}
}

