<graphviz type="framed" caption="{{name}}" format="svg" location="center">
digraph {{name}} {
  // rankdir=LR;
  node [shape=Mrecord,style=filled,fillcolor="#00CC00",rank=same];

{{#operations}}  {{name}} [label="{{name}}\n({{type}}){{#ports}}|{ {{#inPort}}<{{.}}> {{.}}{{/inPort}}|{{#outPort}}<{{.}}> {{.}}{{/outPort}} }{{/ports}}"{{#url}} URL="{{type}}Flow"{{/url}}] ;
{{/operations}}

  node [shape=plaintext,style=plain,rank=same];

    {{#connections}}{{#fromOp}}  {{fromOp}}:{{fromPort}}{{#hasFromPortIndex}}
        .{{fromPortIndex}}{{/hasFromPortIndex}}{{/fromOp}}{{^fromOp}}  "{{fromPort}}{{#hasFromPortIndex}}
        .{{fromPortIndex}}{{/hasFromPortIndex}}"{{/fromOp}} -> {{#toOp}}{{toOp}}:{{toPort}}{{#hasToPortIndex}}
        .{{toPortIndex}}{{/hasToPortIndex}}{{/toOp}}{{^toOp}}"{{toPort}}{{#hasToPortIndex}}
        .{{toPortIndex}}{{/hasToPortIndex}}"{{/toOp}}{{#showDataType}} [label="{{dataType}}"]{{/showDataType}} ;
    {{/connections}}
    }
</graphviz>

