{{#flows}}
package ;


public class {{name}} {
{{#operations}}    private final {{type}} {{name}};
{{/operations}}
    private final ReadTextFile<MainData, MainData> readTextFile;
    private final ParseToRawFlowFile<MainData> parseToRawFlowFile;

    public {{name}}() {
{{#operations}}        {{name}} = new {{type}}();
{{/operations}}

        createConnections();
        initConfig();
    }

    private void createConnections() {
{{#connections}}{{#fromOp}}{{#toOp}}        {{fromOp}}.set{{capFromPort}}Port({{toOp}}.get{{capToPort}}Port());
{{/toOp}}{{/fromOp}}{{/connections}}
    }

    private void initConfig() {
    }

{{#connections}}{{^fromOp}}
    public Port<> get{{capFromPort}}Port() {
        return {{toOp}}.get{{capToPort}}Port();
    }

{{/fromOp}}{{/connections}}
{{#connections}}{{^toOp}}
    public void set{{capToPort}}Port(Port<> port) {
        {{fromOp}}.set{{capFromPort}}Port(port);
    }
{{/toOp}}{{/connections}}
}

{{/flows}}

